<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ServletsUtiles.LoginServlet</servlet-class>
        <init-param>
            <param-name>TypeSgbd</param-name>
            <param-value>MySql</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>ServletsUtiles.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>ServletsUtiles.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaddieServlet</servlet-name>
        <servlet-class>ServletsUtiles.CaddieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>ServletsUtiles.testServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaddieServlet</servlet-name>
        <url-pattern>/CaddieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
